@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap');

:root {
    --clr-gold: #c59d5f;
    --ff-primary: "Montserrat", sans-serif;  
    --radius: 0.5rem;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    font-family: var(--ff-primary);
}

.menu {
    padding: 5rem 0;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 28px;
}

.underline {
    width: 5rem;
    height: 0.25rem;
    background: var(--gold);
    margin-left: auto;
    margin-right: auto;
}

.section-center {
    display: grid;
    justify-items: center;
    gap: 3rem 2rem;
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
}

.menu-item {
    display: grid;
    max-width: 25rem;
    gap: 1rem 2rem;
}

.photo {
    object-fit: cover;
    height: 200px;
    border: 0.25rem solid var(--clr-gold);
    border-radius: var(--radius);
}